html, body {
  height: 100%;
  color: #eee;
  background-color: #333; }

.tab-content {
  height: 100%; }
  .tab-content > div {
    height: 100%; }

#side-nav {
  background: #fff;
  color: #000;
  width: 250px;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: -250px;
  z-index: 1000;
  opacity: 0.9;
  padding: 20px; }

#side-nav.active {
  left: 0px; }

#nav-btn {
  float: right;
  position: absolute;
  right: -45px;
  top: 5px; }

#slot {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #slot > div {
    text-align: center; }
  #slot input.display {
    display: none; }

#gift {
  display: flex;
  justify-content: center;
  align-items: center; }
  #gift .name {
    font-size: 3em;
    width: 95%; }

#btns .btn {
  font-size: 2em;
  width: 30%;
  margin: 0.2em;
  padding: 0.2em 0.5em; }

#tab-gifts .list-group-item {
  background-color: transparent; }

#tab-people .list-group-item {
  background-color: transparent; }

#tab-award .list-group-item {
  background-color: transparent; }
