#slot{
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	> div {
		text-align: center;
	}

	input.display{
		display:none;
	}

	#flapper {
		display: flex;
		justify-content: center;
		align-items: center;
		/*flex-basis: 50%;*/
		flex-grow: 2;
	}
}


#gift{
	display: flex;
	justify-content: center;
	align-items: center;

	min-height:1.5em;
	
	.icon{
		font-size:2.5em;
		padding:5px 10px 5px 0px;
	}
	.name{
		font-size:3em;
	}
}


#btns{
	.btn{ 
		font-size:2em;  
		margin:0.2em; 
		padding:0.2em 0.5em;
	}

	#btn-start{
		width:40%;
	}

	#btn-next-gift, #btn-reroll{
		width:20%;
	}
} 