html, body{
	height:100%;
	color:#eee;
	background-color: #333;
	font-size:14px;
}

.tab-content{  
	height:100%;

	> div{  
		height:100%;
	}

	.list-group-item{
		font-size:1.5em;
	}
}

@import "partials/side-nav";
@import "partials/tab-manual";
@import "partials/tab-slot";
@import "partials/tab-gifts";
@import "partials/tab-people";
@import "partials/tab-award";